<form [formGroup]="editPriceForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <app-text-input [label]="'Стойност'" [(ngModel)]="price.value" formControlName="value"></app-text-input>
    </div>
    <div class="form-group col-md-6">
      <app-text-input [label]="'Количество'" [(ngModel)]="price.quantity"  formControlName="quantity">
      </app-text-input>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Мярка</label>
      <app-select-dropdown [Items]="meassures" formControlName="meassureId" [(ngModel)]="price.meassureId" [selectedId]="price.meassureId">
      </app-select-dropdown>
    </div>
  </div>
  <button [disabled]="editPriceForm.invalid" type="submit" class="btn btn-primary my-3 float-right">Запази</button>
</form>
