
:host {
  ::ng-deep .p-sidebar-left {
    height: 100%;
    left: 0;
    top: 145px !important;
    width: 15rem !important;
    padding: 0;
  }

  ::ng-deep .p-sidebar .p-sidebar-header + .p-sidebar-content {
    padding: 0 !important;
  }

  accordion{
    -webkit-box-shadow: 8px 1px 12px -10px rgba(0,0,0,0.19);
      box-shadow: 8px 1px 12px -10px rgba(0,0,0,0.19);
  }




}
