<div class="row">
  <div class="col-2">
    <accordion [isAnimated]="true">
      <accordion-group heading="Поръчки">
        <ul class="list-group list-group-flush text-uppercase">
          <li class="list-group-item"><a  [routerLink]="['/admin/orders']" routerLinkActive="active" >Всички</a></li>
        </ul>
      </accordion-group>
      <accordion-group heading="Продукти">
        <ul class="list-group list-group-flush text-uppercase">
          <li class="list-group-item"><a  [routerLink]="['/admin/products']" routerLinkActive="active" >Всички</a></li>
        </ul>
      </accordion-group>
      <accordion-group heading="Категории">
        <ul class="list-group list-group-flush text-uppercase">
          <li class="list-group-item"><a  [routerLink]="['/admin/brands']" routerLinkActive="active" >Всички</a></li>
        </ul>
      </accordion-group>
      <accordion-group heading="Видове">
        <ul class="list-group list-group-flush text-uppercase">
          <li class="list-group-item"><a  [routerLink]="['/admin/types']" routerLinkActive="active" >Всички</a></li>
        </ul>
      </accordion-group>
    </accordion>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>

