/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/bootswatch/dist/united/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}



.img-fluid{
  width: 100%;
  height: auto;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: #ec1c24;
}

.xng-breadcrumb-separator {
    padding: 0 0;
}

.StripeElement {
    height: 3.125em;
}

.table thead th {
  text-align: center;
}

.table tbody td{
  text-align: center;
}

.p-toolbar, .p-toolbar-group-left, .p-toolbar-group-right {
  justify-content: end !important;
  align-items: flex-end !important;
}


body{
  overflow-x: hidden;

}



a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; color: #ec1c24; }
a{ text-decoration: none; }
.active {  color: #ec1c24 !important; }
input,a,li,ul,button::-moz-focus-inner { border: 0; }
input,a,li,ul,button{ outline: none; }
