<ng-template #tasteModal>
  <div class="modal-header mb-2">
    <h4 class="modal-title pull-left">{{ 'Вкусове' | uppercase}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form" [formGroup]="typeForm" (ngSubmit)="onSubmit()">
      <div class="form-row  justify-content-center">
        <div class="form-group mb-4 col-12">
          <label for="name" class="sr-only">Име:</label>
          <input type="text" [(ngModel)]="taste.name" class="form-control" name="name" formControlName="name">
          <input type="text" [(ngModel)]="taste.id" class="form-control" name="id" formControlName="id" hidden>
        </div>
        <div class="form-group mb-4 col-12">
          <label for="description" class="sr-only">Описание:</label>
          <input type="text" [(ngModel)]="taste.description" class="form-control" name="name" formControlName="description">
        </div>
        <div class="form-group text-right mb-2">
          <button type="reset" [disabled]="!typeForm.valid" class="btn btn-info mr-1">Cansel</button>
          <button type="submit" [disabled]="!typeForm.valid" class="btn btn-success">Save</button>

        </div>
        <div *ngIf="typeForm.get('name').invalid && typeForm.get('name').touched"
          class="col-12 p-0 mb-0 text-danger validation">
          <small *ngIf="typeForm.get('name').errors?.required">
            {{'Полето е задължително!'}}
          </small>
          <small *ngIf="typeForm.get('name').errors?.minlength">
            {{'Името не може да бъде по малко от 3 символа'}}
          </small>
          <small *ngIf="typeForm.get('name').errors?.maxlength">
            {{'Името не може да бъде повече от 20 символа'}}
          </small>
          <small *ngIf="typeForm.get('name').errors?.nameIsTaken">
            {{'Името вече е заето!'}}
          </small>
        </div>
      </div>

    </form>
  </div>
</ng-template>
<section class="admin-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h4 class="h2">Вкусове</h4>
        <div class="d-flex justify-content-end  col-12">
          <button type="button" class="btn btn-outline-success"
            (click)="openModal(tasteModal,'нов вид')">Добави</button>
        </div>
        <div class="col-12">
          <app-paging-header [totalCount]="totalCount" [pageSize]="typeParams.pageSize" [pageNumber]="typeParams.pageIndex">
          </app-paging-header>
        </div>
        <div class="table-responsive col-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">
                  <div class="p-2">Номер</div>
                </th>
                <th scope="col">
                  <div class="py-2 text-uppercase">Име</div>
                </th>
                <th scope="col">
                  <div class="p-2 px-3 text-uppercase">Промени</div>
                </th>
                <th scope="col">
                  <div class="p-2 px-3 text-uppercase">Изтрий</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let taste of tastes">
                <td class="align-middle">{{taste.id}}</td>
                <td class="align-middle">
                  <h5>{{taste.name}}</h5>
                </td>
                <td class="align-middle"><button (click)="openModal(tasteModal,'промени категория',taste.id)"
                    class="btn btn-warning">Промени</button></td>
                <td class="align-middle"><button (click)="deleteType(taste.id)" class="btn btn-danger">Изтрий</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
          <app-pager [pageSize]="typeParams.pageSize" [totalCount]="totalCount" [pageNumber]="typeParams.pageIndex"
          (pageChanged)="onPageChanged($event)">
        </app-pager>
        </div>
      </div>
    </div>
  </div>
</section>
