<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <div></div>
      <h1>500</h1>
    </div>
    <h2>Something went wrong!</h2>
    <a href="#">home page</a>
  </div>
</div>
