<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
  Детайли поръчка
</div>
<div class="p-4">
  <p class="font-italic mb-4">Разходите за доставка ще бъдат добавени в зависимост от избора, направен по време на
    плащане</p>
  <ul class="list-unstyled mb-4">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Подробности</strong>
      <strong>{{subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Валута</strong>
      <strong>{{shippingPrice | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Всичко</strong>
      <strong>{{total | currency}}</strong>
    </li>
  </ul>
</div>
