<section class="product-edit mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tab-panel">
          <tabset class="product-tabset">
            <tab heading="Продукт">
              <div class="col-lg-12">
                <app-edit-product-form [product]="productFormValues" [brands]="brands" [types]="types" >
                </app-edit-product-form>
              </div>
            </tab>
            <tab heading="Снимки" [disabled]="product==undefined">
              <app-edit-product-photos [product]="productFormValues"></app-edit-product-photos>
            </tab>
            <tab heading="Цени" [disabled]="product==undefined">
              <app-edit-price [product]="productFormValues" ></app-edit-price>
            </tab>
          </tabset>
        </div>
      </div>

    </div>
  </div>
</section>
