<form
    [formGroup]="editProductForm"
    (ngSubmit)="onSubmit()"
>
    <div class="form-row">
        <div class="form-group col-md-6">
            <app-text-input
                [label]="'Product name'"
                [(ngModel)]="product.name"
                [error]="'Името трябва да бъде между'"
                formControlName="name"
            ></app-text-input>
        </div>
        <div class="form-group col-md-6">
            <app-text-input
                [label]="'Price'"
                [type]="'number'"
                [(ngModel)]="product.price"
                formControlName="price"
            >
            </app-text-input>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <app-text-input
                [label]="'Description'"
                [type]="'textarea'"
                [(ngModel)]="product.description"
                formControlName="description"
            ></app-text-input>
        </div>
    </div>
    <div class="form-row">
        <!-- <div class="form-group col-md-6">
      <label>Вид</label>
      <app-select-dropdown formControlName="productTypeId" [label]="'Types'" [Items]="types"
        [selectedId]="product.productTypeId">
      </app-select-dropdown>
    </div>
    <div class="form-group col-md-6">
      <label>Категория</label>
      <app-select-dropdown formControlName="productBrandId" [label]="'Brand'" [Items]="brands"
        [selectedId]="product.productBrandId"></app-select-dropdown>
    </div> -->
        <div class="form-group col-md-6">
            <p-dropdown
                [options]="brands"
                formControlName="productBrandId"
                [(ngModel)]="product.productBrandId"
                defaultLabel="Категории"
                optionLabel="name"
                optionValue="id"
            ></p-dropdown>
        </div>
        <div class="form-group col-md-6">
            <p-dropdown
                [options]="types"
                formControlName="productTypeId"
                [(ngModel)]="product.productTypeId"
                defaultLabel="Видове"
                optionLabel="name"
                optionValue="id"
            ></p-dropdown>
        </div>
    </div>
    <button
        [disabled]="editProductForm.invalid"
        type="submit"
        class="btn btn-primary my-3 float-right"
    >
        Запази
    </button>
</form>
