

#about_section {
  font-family: "Montserrat", sans-serif;
  color: white;
  height: 100%;

  display: flex;
  justify-content: space-between;

  .content {
    height: 100%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    text-align: justify;
    padding: 4%;
  }

  h5,
  h4 {
    font-size: 20px;
    margin: 3% 0%;
  }

  p {
    font-size: 0.9rem;
  }

  div {
    padding: 2% 2%;
  }

  button {
    color: white;
    font-family: "Open Sans", sans-serif;
    border-radius: 20%;
    padding: 13px 16px;
    margin: 1%;
    font-size: 30px;
    border-style: none;
    font-size: 15px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background-color: white;
      color: rgb(247, 122, 143);
    }
  }
}

.dev_contact {
  min-height: 5vh;
  background-color: rgb(51, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 0.8rem;
    color: white;
  }
}

#page_3 {
  min-height: 50vh;
  background-color: #f4f4f4;

  .content {
    font-family: "Montserrat", sans-serif;
    width: 90%;
    margin: auto;
    padding: 5%;

    h1,
    p {
      text-align: center;
    }

    h1 {
      letter-spacing: 0.3rem;
      margin: 0% 0% 2% 0%;
    }

    p {
      margin: 0% 0% 5% 0%;
    }

    .carousel {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;

      #item1 {
        background-image: url("/src/assets/images/cup.jpg");
      }

      #item2 {
        background-image: url("/src/assets/images/jar2.jpg");
      }

      #item3 {
        background-image: url("/src/assets/images/cakez2.jpg");
      }

      .card_1 {
        position: relative;
        min-height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .name {
        position: absolute;
        padding: 3% 6%;
        background-color: rgb(255, 255, 247);
        color: white;
        width: 180px;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}


a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.div-white{
  color: white;
}

.form-control {
  background: rgb(247, 122, 143);
  border-color: pink;
}

.form-control:focus {
  background:  rgb(247, 122, 143);
}

footer {
  background: url('../../../assets/pink_back.jpg');
}

