<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-3 col-md-6 div-white">
                <h4>Магазин 1</h4>
                <address>
                  <p>
                    гр. Стара Загора
                    <br>
                    ул. Цар Симеон 77
                    <br>
                    Понеделник - Събота 9:00 - 19:30
                    <br>
                    Неделя 10:00 - 18:00
                    <br>
                </p>
                </address>

            </div>
            <div class="col-lg-6 col-md-6 div-white">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184.07491371747076!2d25.621301042637022!3d42.423506993459874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a8699ae061b26b%3A0x1611a784a76c1a2b!2z0KHQu9Cw0LTQutCw0YDRgdC60Lgg0JzQsNCz0LDQt9C40L0gLSAi0J_QldCi0KPQpdCe0JLQkCI!5e0!3m2!1sbg!2sbg!4v1662814544960!5m2!1sbg!2sbg" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>            
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-3">Споделете</h5>

                <button
                    class="btn btn-primary mr-3"
                    id="button-addon2"
                    type="button"
                >
                    <i class="fa fa-facebook"></i>
                </button>
                <button
                    class="btn btn-primary"
                    id="button-addon2"
                    type="button"
                >
                    <i class="fa fa-instagram"></i>
                </button>
            </div>
        </div>
    </div>
</footer>
