<div
    id="page1"

>


    <div id="content_p1" >
        <div class="image_holders" style="top: 25%;">


            <div
                class="images"
                id="img1"
            >
                <img
                    [src]="['../../assets/images/jar.jpg']"
                    alt="asd"
                >
            </div>


            <div class="images">
                <img
                    [src]="['../../assets/images/cakez.jpg']"
                    alt="adsd"
                >
            </div>


            <div
                class="images"
                id
            >
                <img
                    [src]="['../../assets/images/cupcake1.jpeg']"
                    alt="asd"
                >
            </div>


        </div>
    </div>
</div>
<div id="page2">
    <div class="content">
        <p class="story">НАШАТА ИСТОРИЯ</p>
        <h1>Скадкарска фирма Петухова</h1>
        <p>
           е създадена през 2000г и е производител на сладкарски изделия. В самото начало работи за да снабдява търговската мрежа, след което отваря верига фирмени магазини в град Стара Загора.
          Основните продукти които се предлагат в магазините са торти, дребни сладкарски изделия от рода на малки пасти, петифури, еклери, целувки и голям асортимент от гръцки сладки, соленки. Към тях можем да прибавим разнообразие от аксесоари за украса фонданови фигури, бисквитки, близалки и парти украса.
          Клиентите могат да си поръчат торти по каталог и индивидуален модел.
          В навечерието на празниците фирмата изработва тематични торти за да създаде настроение на своите клиенти!
          Магазини Петухова предлагат единствените по рода си букети от луксозни бонбони подходящи за подарък за всеки празник!
          И не на последно място френските ни продукти кроасани с масло и шоколад всеки
          ден прясно изпечени за Вас! Както и френски макарони, аристокрачиния десерт завладял света през последните години!
          Заповядайте при нас и направете живота си по- сладък!
        </p>


    </div>



</div>

