/*
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

nav{

  padding: 2%;
  height: 14vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid pink;

  .logo{

      font-size: 1.5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      letter-spacing: 0.5rem;
      list-style: none;

      a{
          color: black;
          text-decoration: none;
      }
  }


  .links{
      width: 40%;
      display: flex;
      justify-content: space-around;
      font-size: 0.9rem;

      .active{
             color:  #f76f91;
          }

      li{
          list-style: none;
      }

      a{


          color: black;
          text-decoration: none;
          transition: all 0.2s;

          &:hover{
          color:  #f76f91;

          }

      }
  }


  .special{

      list-style: none;
      border: 1px solid #f76f91;
      padding: 0.7rem 2rem;
      border-radius: 8px;
      font-size: 0.9rem;
      transition: all 0.5s;
      cursor: pointer;


      a{
          color:#f76f91;
          text-decoration: none;
          transition: all 0.5s;
      }


      &:hover{
          border: 1px solid #f76f91;
          background-color:  #f76f91;

          a{
              color:white;
              text-decoration: none;
      }

      }


  }




  ul{

      display: flex;
      flex-direction: row;
  }

}


#content_p1{

  position: relative;
  height: 86vh;
  width: 100vw;


  .image_holders{
      position: relative;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 15px;




      img{
          height: 55vh;
          width: 100%;
          object-fit: cover;
      }

  }
}


#page2{
  min-height: 70vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;

  .content{
      font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: auto;

      h1{
         font-family: 'Montserrat', sans-serif;
         padding: 2%;
         position: relative;
         margin-bottom: 3%;
      }


      h1::after{
          content:'';
          height:2px;
          width:20%;
          background:#f76f91;
          position:absolute;
          left:calc(50% - 10%);
          bottom:-5px;
      }

      .story{
          font-weight: bold;
          color:#f76f91;
          letter-spacing: 0.2em;
      }




      p{
          text-align: center;
          line-height: 2em;
          font-weight: lighter;
      }
  }
}



