<ngx-spinner>
    <h3>Зарежда...</h3>
</ngx-spinner>


<app-nav-bar></app-nav-bar>
<app-section-header></app-section-header>



<div style="min-height: 100vh;">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
