<!-- <div class="d-flex justify-content-center mt-5">
    <div class="col-md-6 col-12 account-container mt-5 mb-5 p-4">
        <form
            [formGroup]="registerForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="text-center mb-4">
                <h4
                    class="h3 mb-3 font-weight-normal"
                    style="font-weight: 600;"
                >
                    {{ 'регистрация' | uppercase}}
                </h4>
            </div>





            <app-text-input
                formControlName="displayName"
                [label]="'Име'"
            ></app-text-input>
            <app-text-input
                formControlName="email"
                [label]="'Имейл'"
                [type]="'email'"
            ></app-text-input>
            <app-text-input
                formControlName="password"
                [pattern]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,22}$'"
                pTooltip="Паролата трябва да съдържа 1 главна буква, 1 малка буква, 1 цифра, 1 специален символ и минимум 8 символа"
                [label]="'Парола'"
                [type]="'password'"
            ></app-text-input>
            <ul
                class="text-danger list-unstyled"
                *ngIf="errors"
            >
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>





            <button
                class="btn btn-lg btn-primary btn-block"
                [disabled]="registerForm.invalid"
                type="submit"
            >
                {{ 'регистрация' | uppercase}}
            </button>
        </form>
    </div>
</div> -->














<div class="d-flex justify-content-center mt-5">
    <div class="col-md-6 col-lg-4 col-12   mt-5 mb-5 p-4">
        <p-panel header="Регистрация">
            <form
                [formGroup]="registerForm"
                (ngSubmit)="onSubmit()"
            >
                <div class="p-inputgroup mb-3 mt-3 col-12">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <input
                        type="text"
                        pInputText
                        placeholder="Потребителско име"
                        formControlName="displayName"
                        minlength="4"
                        maxlength="22"
                        styleClass="form-control"
                    >
                </div>
                <div
                    class="col-12"
                    *ngIf="registerForm.get('displayName').invalid &&
                    registerForm.get('displayName').errors &&
        (registerForm.get('displayName').dirty || registerForm.get('displayName').touched)"
                >
                    <small
                        class="text-danger"
                        *ngIf="registerForm.get('displayName').hasError('required')"
                    >
                        Полето е задължително
                    </small>
                    <small
                        class="text-danger"
                        *ngIf="registerForm.get('displayName').hasError('minlength')"
                    >
                        Минимум {{registerForm.get('displayName').errors.minlength.requiredLength}} символа.
                    </small>
                    <small
                        class="text-danger"
                        *ngIf="registerForm.get('displayName').hasError('maxlength')"
                    >
                        Максимална дължина {{registerForm.get('displayName').errors.maxlength.requiredLength}} символа.
                    </small>
                </div>
                <div class="p-inputgroup mb-3 col-12">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <input
                        type="email"
                        pInputText
                        placeholder="Имейл"
                        formControlName="email"
                    >
                </div>
                <div
                    class="col-12"
                    *ngIf="registerForm.get('email').invalid &&
                    registerForm.get('email').errors &&
        (registerForm.get('email').dirty || registerForm.get('email').touched)"
                >
                    <small
                        class="text-danger"
                        *ngIf="registerForm.get('email').hasError('required')"
                    >
                        Полето е задължително!
                    </small>
                    <small
                        class="text-danger"
                        *ngIf="registerForm.get('email').hasError('pattern')"
                    >
                        Невалиден имейл!
                    </small>
                    <small
                        class="text-danger"
                        *ngIf="registerForm.get('email').hasError('emailExists')"
                    >
                        Вече има регистрация с този имейл!
                    </small>
                </div>
                <div
                    class="p-inputgroup mb-3 col-12"
                    pTooltip="Паролата трябва да съдържа 1 главна буква, 1 малка буква, 1 цифра, 1 специален символ и минимум 8 символа"
                >
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-key"></i>
                    </span>
                    <input
                        type="password"
                        autocomplete="off"
                        pInputText
                        placeholder="Парола"
                        formControlName="password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,22}$"
                    >
                </div>
                <div
                    class="col-12"
                    *ngIf="registerForm.get('password').invalid &&
                registerForm.get('password').errors &&
    (registerForm.get('password').dirty || registerForm.get('password').touched)"
                >
                    <small
                        class="text-danger"
                        *ngIf="registerForm.get('password').hasError('required')"
                    >
                        Полето е задължително!
                    </small>
                    <small
                        class="text-danger"
                        *ngIf="registerForm.get('password').hasError('pattern')"
                    >
                        Невалидна парола!
                    </small>
                </div>
                <div class=" mb-3 col-12 text-center">
                    <button
                        pButton
                        type="submit"
                        [disabled]="registerForm.invalid"
                        class="p-button-raised p-button-text p-button-plain p-button-lg"
                    >
                        Регистрация
                    </button>
                </div>
            </form>
        </p-panel>
    </div>
</div>
