.account-container {
  box-shadow: 1px 1px 15px 2px #00000052;
}
:host ::ng-deep .p-password input {
  width: 100%;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #f77a8f5e;
  border-color: #f77a8f5e;
}

.btn-primary {
  background-color: #f77a8f;
  border-color: #f77a8f;
}

::ng-deep {
  .p-panel .p-panel-header {
    background-color: #f77a8f;
    color: white;
  }
}
