<!-- <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-6 col-12 account-container p-4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">{{ 'вход' | uppercase}}</h1>
            </div>

            <app-text-input formControlName="email" [label]="'Имейл'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Парола'" [type]="'password'"></app-text-input>

            <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block mb-4" type="submit">{{ 'вход' | uppercase}}</button>
        </form>
        <a class="mt-5" [routerLink]="'/account/forgottenPassword'">Забравена парола</a>
    </div>


</div> -->




<div class="d-flex justify-content-center mt-5">
    <div class="col-md-6 col-12 col-lg-4  mt-5 mb-5 p-4">
        <p-panel header="Вход">
            <form
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit()"
            >
                <div class="p-inputgroup mb-3 mt-3 col-12">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-envelope"></i>
                    </span>
                    <input
                        type="email"
                        pInputText
                        placeholder="Имейл"
                        formControlName="email"
                    >
                </div>
                <div
                    class="col-12"
                    *ngIf="loginForm.get('email').invalid &&
                  loginForm.get('email').errors &&
      (loginForm.get('email').dirty || loginForm.get('email').touched)"
                >
                    <small
                        class="text-danger"
                        *ngIf="loginForm.get('email').hasError('required')"
                    >
                        Полето е задължително!
                    </small>
                    <small
                        class="text-danger"
                        *ngIf="loginForm.get('email').hasError('pattern')"
                    >
                        Невалиден имейл!
                    </small>
                </div>
                <div class="p-inputgroup mb-3 col-12">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-key"></i>
                    </span>
                    <input
                        type="password"
                        autocomplete="off"
                        pInputText
                        placeholder="Парола"
                        formControlName="password"
                    >
                </div>
                <div
                    class="col-12"
                    *ngIf="loginForm.get('password').invalid &&
              loginForm.get('password').errors &&
  (loginForm.get('password').dirty || loginForm.get('password').touched)"
                >
                    <small
                        class="text-danger"
                        *ngIf="loginForm.get('password').hasError('required')"
                    >
                        Полето е задължително!
                    </small>
                </div>
                <div class=" mb-1 col-12 text-center">
                    <button
                        pButton
                        type="submit"
                        [disabled]="loginForm.invalid"
                        class="p-button-raised p-button-text p-button-plain p-button-lg"
                    >
                        Вход
                    </button>
                </div>
            </form>
            <div class="p-inputgroupcol-12">
                <a class="mt-1" [routerLink]="'/account/forgotpassword'">Забравена парола</a>
            </div>
        </p-panel>
    </div>
</div>
