.account-container{
  box-shadow: 1px 1px 3px 2px #f77a8f5e;
}

.btn-primary.disabled, .btn-primary:disabled{
  background-color: #f77a8f5e;
  border-color: #f77a8f5e;
}

 .btn-primary{
  background-color: #f77a8f;
  border-color: #f77a8f;
}


::ng-deep {
  .p-panel .p-panel-header {
    background-color: #f77a8f;
    color: white;
  }
}
