
  <span *ngIf="totalCount && totalCount > 0">Показва
    <strong>
      {{(pageNumber-1) * pageSize+1}} -
      {{pageNumber*pageSize
      > totalCount
      ? totalCount : pageNumber * pageSize
      }}
    </strong> от <strong>{{totalCount}}</strong> резултати </span>
  <span *ngIf="totalCount === 0">Това са <strong>0</strong> резултати</span>

