<div class="container mt-5">
    <div
        class="row"
        *ngIf="product"
    >
        <div class="col-md-6 col-12 col-sm-12">
            <ngx-gallery
                [options]="galleryOptions"
                [images]="galleryImages"
                style="display: inline-block; margin-bottom: 20px"
            ></ngx-gallery>
        </div>
        <div
            class="col-md-6 col-12 col-sm-12"
            style="overflow: auto;"
        >
            <ng-container *ngIf="product.prices.length>0">
                <h3 style="text-align:center">{{product.name}}</h3>
                <div
                    class="col-md-12 col-12"
                    *ngFor="let price of product.prices;let i=index"
                >
                    <app-order-count
                        [price]="price"
                        [meassures]="meassures"
                        [product]="product"
                    >


                    </app-order-count>
                </div>


            </ng-container>
        </div>



        <div class="row mt-5">
            <div class="col-12 ml-3 mb-5">
                <h4>Информация</h4>
                <p>{{product.description}}</p>
            </div>
        </div>
    </div>
</div>
