<ng-container *ngIf="currentRoute!=='/'">
    <ng-container *ngIf="(breadcrumb$ | async) as breadcrumbs">
        <section
            *ngIf="breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label !== 'Home'"
            class="breadcumb-header"
            style="margin-top: 105px;"
        >
            <div class="container">
                <div class="row d-flex align-items-center justify-content-end">
                    <!-- <div class="col-9">
                  <h2>{{breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label | titlecase}}</h2>
              </div> -->
                    <div
                        class="col-9 text-right"
                        style="display: contents;"
                    >
                        <xng-breadcrumb></xng-breadcrumb>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</ng-container>
