<div class="form-label-group">
    <input
        [ngClass]="(controlDir?.control?.touched)
            ? !controlDir.control.valid ? 'is-invalid' : 'is-valid' : null"
        [type]="type"
        (input)="onChange($event.target.value)"
        (blur)="onTouched()"
        #input
        class="form-control"
        placeholder="{{label}}"
    >
    <div *ngIf="controlDir?.control?.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
    <label for="{{label}}">{{label}}</label>
    <div class="invalid-feedback" *ngIf="(!controlDir?.control?.valid && controlDir?.control?.touched)">
        <span *ngIf="controlDir.control.errors?.required">{{label}} е задължително!</span>
        <span *ngIf="controlDir.control.errors?.pattern">{{ label}}</span>
    </div>

    <div class="invalid-feedback d-block" *ngIf="(!controlDir?.control?.valid && controlDir?.control?.dirty)" >
        <span *ngIf="controlDir.control.errors?.emailExists">Потребител с такъв имейл вече съществува!</span>
    </div>
</div>
