.list-group-item {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;

  &:focus {
      outline: none;
  }

  &.active {
    color: #fff;
    background-color: rgba(236, 107, 60, 0.705);
  }

  &:not(.active):hover {
      color: #fff;
      background-color: rgba(236, 107, 60, 0.705);

  }
}



  ::ng-deep .p-button-text{
    cursor: pointer;
    border: none;
    text-align: center;
    padding-left: 12px;
    &:focus {
      outline: none;
  }

  }
  .collapsible {
    overflow: hidden;
  }
