<div class="row">
  <div class="col-12 mb-1 text-center">
    <button pButton type="button" style="width: 100%;" class="p-button-outlined  p-button-danger p-button-lg" (click)="toggle()">{{ title | uppercase}}</button>
  </div>
<div class="col-12 collapsible" [@collapse]="collapsed">

  <ul class="list-group mb-3  col-12" style="padding-right: 0;" >
    <li class="list-group-item" *ngFor="let item of items" [class.active]="item.id === shopParams.brandId"
      [value]="item.id" (click)="onItemSelected(item.id)">
      {{item.name}}
    </li>
  </ul>
</div>
</div>

