<p-toast></p-toast>

<div class="card">

  <p-toolbar>
    <ng-template pTemplate="right">
      <button pButton pRipple label="Добави" class="p-button-success p-mr-2" (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>



    <p-table #dt [value]="product?.prices" [rows]="10" [paginator]="true"
      [globalFilterFields]="['value','quantity','meassure.name']" responsiveLayout="scroll"
      [(selection)]="selectedPrices" [rowHover]="true" dataKey="price.id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-end">
          <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Търси..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="value">Цена <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="quantity">Количество <p-sortIcon field="quantity"></p-sortIcon>
          </th>
          <th pSortableColumn="meassure">Мярка <p-sortIcon field="meassureId"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-price>
        <tr>
          <td>{{price.value + 'лв.'}}</td>
          <td>{{price.quantity }}</td>
          <td >{{  meassures | meassureName:price.meassureId  }}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
              (click)="editPrice(price)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="removePrice(price.id)"></button>
            <button *ngIf="price.isMain" pButton pRipple icon="fa fa-eye"
              class="p-button-rounded p-button-primary"></button>
            <button *ngIf="!price.isMain" pButton pRipple icon="fa fa-eye-slash"
              class="p-button-rounded p-button-outlined p-button-primary" (click)="setAsMain(price.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

</div>
<p-dialog [(visible)]="priceDialog" (onHide)="hideDialog()" [style]="{width: '450px'}" header="Цена"  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <app-edit-price-form [product]="product" [price]="price" [meassures]="meassures" (productChange)="onProductChange($event)" (resetForm)="hideDialog()"></app-edit-price-form>
  </ng-template>
</p-dialog>
