<div class="col-12">
  <p style="font-size: 1em;">
    {{price.value + 'лв. '+'за '}}{{price.quantity}}{{ meassures | meassureName: price.meassureId}}
  </p>
  <p style="font-size: 1em;"></p>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <!-- <em (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2"
        style="cursor: pointer; font-size: 1.5em;"></em>
      <span aria-valuetext="0" class="font-weight-bold" style="font-size: 1.5em;" id="price.id">{{ count }}</span>
      <em (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2"
        style="cursor: pointer; font-size: 1.5em;"></em> -->
    </div>
    <!-- <button title="Тази функция още не е налична!" class="btn btn-outline-primary ml-4" (click)="addItemToBasket()"
      [disabled]="count<=0" pTooltip="Тази функция още не е налична!">
      Добави в
      количката
    </button> -->

  </div>
  <hr>
</div>