<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover" style="cursor: pointer;">
        <thead class="thead-light">
          <tr>
            <th>Поръчка</th>
            <th>Дата</th>
            <th>Всичко</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders" routerLink="/orders/{{order.id}}">
            <th># {{order.id}}</th>
            <td>{{order.orderDate | date: 'medium'}}</td>
            <td>{{order.total | currency}}</td>
            <td>{{order.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
