.btn-group {
    width: 100%;
}

.btn {
    width: 30%;
    height: 40px;
}

.image :hover {
    opacity: 1;
    & button {
        transform: none;
        opacity: 1;
    }
}

.shadow-sm{
  box-shadow: 0 .125rem .25rem pink !important;
}

::ng-deep span.p-dropdown-label {
  font-weight: 600;
  color: #f77a8f;
  transition: 0.4s;
}

::ng-deep div.p-dropdown {
  border-color: #f77a8f;
}

::ng-deep .p-dropdown-trigger-icon{
  color: #f77a8f;
  font-weight: 900;
}

::ng-deep div.p-dropdown:hover {
  border-color: #f77a8f;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  color: #f77a8f;
  font-weight: 400;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:host{
  color: #f3f2f2;
  font-weight: 400;
  background-color: #f77a8f;
}

::ng-deep .p-button.p-button-danger.p-button-outlined{
  border-color: #f77a8f;
  color: #f77a8f;
  font-weight: 600;
  padding-left: 10px;
}

.hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 0.5s;

    & button {
        z-index: 1000;
        transition: all 0.5s;
    }
    & button:first-of-type {
        transform: translateX(-20px);
    }
    & button:last-of-type {
        transform: translateX(20px);
    }
}

button.btn-primary{
  background-color: #f77a8f;
  border-color: #f77a8f;
}
