<div class="container-fluid mt-5 mb-5">
  <div class="row">
    <section class="col-lg-3 col-12 left-content">
      <ng-container *ngIf="types && brands">
        <div class="form-group col-12 mb-2 p-0">
          <p-dropdown [options]="sortOptions"  (onChange)="onSortSelected($event.value)" [(ngModel)]="shopParams.sort"  optionLabel="name" optionValue="value"></p-dropdown>
        </div>
        <app-collapse-panel [items]="brands" [shopParams]="shopParams" [title]="'категория'" (itemClicked)="onBrandSelected($event)"></app-collapse-panel>
        <app-collapse-panel [items]="types" [shopParams]="shopParams" [title]="'вид'" (itemClicked)="onTypeSelected($event)"></app-collapse-panel>


      </ng-container>
    </section>

    <section class="col-lg-9 col-12">
      <div class="row d-flex justify-content-between align-items-center pb-2">
        <div class="col-lg-4 col-12 justify-content-start" style="position: relative;">
          <app-paging-header style="position: absolute;" [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber"
          [pageSize]="shopParams.pageSize"></app-paging-header>

        </div>


        <div class="form-inline col-12 col-lg-8 mt-2 justify-content-end" *ngIf="products">
          <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2" #search placeholder="Search">
          <button pButton type="button" (click)="onSearch()" class="p-button-raised p-button-outlined p-button-success mr-2">Търси</button>
          <button pButton type="button" (click)="onReset()" class="p-button-raised p-button-outlined p-button-danger my-2">Изчисти</button>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <app-pager [pageSize]="shopParams.pageSize" [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber"
          (pageChanged)="onPageChanged($event)">
        </app-pager>
      </div>

    </section>
  </div>
</div>
