.list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus {
        outline: none;
    }

    &.active {

    }

    &:not(.active):hover {
        color: #fff;
        background-color: rgba(233, 86, 32, 0.705);

    }
}

.sort-list{
  max-height: 300px;
overflow-y: auto;
}

// section.left-content{
//   overflow-y: auto;
//   max-height: 600px;
// }

div .p-fieldset .p-fieldset-content{
  padding: 0px;
}
:host {
  ::ng-deep .p-fieldset .p-fieldset-content{
    padding: 0px;
  }

  ::ng-deep .p-fieldset-legend{
    margin-bottom: 0px;
  }

  ::ng-deep div.p-dropdown{
    width: 100%;
  }

  ::ng-deep button.p-button.p-button-danger.p-button-outlined{
    padding-left: 12px;
  }

}

