<div class="row">
  <div class="col-12">
    <h3>Добави нови снимки</h3>
    <div class="custom-dropzone" ngx-dropzone (change)="onSelect($event)">
      <ngx-dropzone-label>
        <i class="fa fa-upload fa-4x"></i>
        <h4>Метни снимката тук!</h4>
      </ngx-dropzone-label>
    </div>
  </div>
  <div class="col-12 img-preview">
    <h3>Преоразмери</h3>
    <image-cropper class="img-fluid" [imageChangedEvent]="imageChangedEvent" [imageFile]="files[0]"
      [maintainAspectRatio]="false" [aspectRatio]="1/1" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
  </div>
  <div class="col-12">
    <h3>Виж и Качи</h3>
    <ng-container *ngIf="croppedImage">
      <img [src]="croppedImage" class="img-fluid">
      <button class="btn-block btn-primary" (click)="onUpload()">Качи</button>
    </ng-container>
  </div>
</div>
