<div class="d-flex justify-content-center mt-5">
  <div class="col-6">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="text-center mb-4">
              <h1 class="h3 mb-3 font-weight-normal">Възстановяване на парола</h1>
          </div>

          <app-text-input formControlName="email" [label]="'Email address'"></app-text-input>

          <button [disabled]="passwordForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Изпрати</button>
      </form>
      <a class="mt-5" [routerLink]="'/register'">Регистрация</a>
  </div>


</div>
