header {
  box-shadow: 0 0.125rem 0.25rem pink !important;
}

:host ::ng-deep .p-button.p-button-text.p-button-plain:enabled {
  font-weight: 900;
  color: #f77a8f;
  opacity: 0.7;
}

:host ::ng-deep .p-button.p-button-text.p-button-plain:enabled:hover {
  font-weight: 900;
  opacity: 1.2;
  background-color: white;
  color: #f85873;
  transition: 0.4s;
}

.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: #ec1c24;
  }

  &.active:hover {
    color: #e76468;
  }
}
a:hover {
  color: #3a4958;
  text-decoration: underline;
}

.logo {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.navbar-toggler {
  width: 50px;
  height: 50px;
  background-color: #d41616;
}

nav {
  text-transform: uppercase;
  text-decoration: none;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  nav {
    justify-content: center;
  }
  .navbar-collapse {
    text-align: center;
  }
  .log-item {
    display: none;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  nav {
    justify-content: center;
  }
  .navbar-collapse {
    text-align: center;
  }
  .log-item {
    display: none;
  }
}

:host ::ng-deep a.dropdown-toggle {
  font-weight: 900;
  color: #f77a8f;
  opacity: 0.7;
}

:host ::ng-deep a.dropdown-toggle:hover {
  text-decoration: none;
  color: #f85873;
  opacity: 1.2;
  transition: 0.4s;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

a:hover {
  text-decoration: none;
}

.dropdown-item:hover{
  text-decoration: none;
}
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
