<header class="border-bottom shadow-sm  bg-white fixed-top">



  <nav class="navbar navbar-expand-md ">
    <button  *ngIf="show" class="navbar-toggler" type="button" (click)="toggle()">
      <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <div class="navbar-collapse w-100 order-1 order-md-0 dual-collapse2" [class.collapse]="collapsed">
      <div class="navbar-collapse  w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <button pButton pRipple type="button" class="nav-link p-button-plain p-button-text" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">НАЧАЛО</button>
          </li>
          <li class="nav-item">
            <button pButton pRipple type="button" class="nav-link p-button-plain p-button-text" routerLink="/shop" routerLinkActive="active">Е-МАГАЗИН</button>
          </li>
          <li class="nav-item">
            <button pButton pRipple type="button" class="nav-link p-button-plain p-button-text" *ngIf="(isAdmin$ | async)"  routerLink="/admin" routerLinkActive="active">АДМИН</button>
          </li>
        </ul>
      </div>
      <div class="mx-auto  order-0 log-item">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="logo navbar-brand" routerLink="/">
              <img src="/assets/images/logo_.png" style="max-height: 100px;" alt="logo" class="logo navbar-brand"
                routerLink="/">
            </a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse  w-100 order-3 dual-collapse2" >
        <ul class="navbar-nav ml-auto" *ngIf="(currentUser$ | async) === null">
          <li class="nav-item">
            <button pButton pRipple type="button" routerLink="/account/login" class="nav-link p-button-plain p-button-text" >ВХОД</button>
          </li>
          <li class="nav-item">
            <button pButton pRipple type="button" routerLink="/account/register" class="nav-link p-button-plain p-button-text" >РЕГИСТРАЦИЯ</button>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="(currentUser$ | async) !== null">
          <div class="dropdown ml-3 mr-5" dropdown>
            <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
              <strong> {{(currentUser$ | async).displayName}}</strong>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="cursor:pointer" *dropdownMenu>
              <!-- <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-shopping-cart mr-3"></i> View Basket
              </a> -->
              <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-history mr-3"></i> Поръчки
              </a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-sign-out mr-3"></i> Излез
              </a>
            </div>
          </div>
        </ul>
      </div>
    </div>

  </nav>
</header>
